*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* =======google fonts ========= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300&display=swap');


body{
  font-family: 'Roboto', sans-serif;

}

.container{
  width: 100vw;
  padding-top: 40px;
}

.subcontainer__container{
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
  background-color: rgb(211, 209, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);

}



.title__container{
  background-color: rgb(44, 4, 82);
  padding: 5px;
  color: white;
  width: 100%;
  text-align: center;
 }

 .table__container{
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0); 
  width: 100%;
  font-size: 1rem;

}

@media screen and (max-width:620px) {
  .table__container{
    font-size: .5rem;
  
  }
  
}

.table__container thead tr td{
  padding: 3px;
  background-color: rgba(240, 248, 255, 0.616);
}
.table__container tbody tr td{
  padding: 3px;
}

.button__container{
  display: flex;
  align-items: center;
  justify-content: center;
   gap: 3px;
}

.btn{
  padding: 1px 2px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 1rem;
  transition: all .1s;
  cursor: pointer;
}
.btn:hover{
  padding: 1px 2px;
  background-color: rgb(44, 4, 82);
  border: 1px solid rgb(0, 0, 0);
  font-size: 1rem;
  color:white ;
}


.container__modal{
  width:100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.473);
  padding: 10px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: -10;
  visibility: hidden;
}

.open{
  z-index: 10;
  visibility: visible;
}


.modal{
  background-color: rgb(214, 214, 214);
   padding: 10px;
   height: 230px;
   display: flex;
   flex-direction: column;
   gap:10px;
   width: 100%;
   max-width: 400px;
   align-items: center;

  
}


.modal__form{
  gap: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  
  
}

.modal__form input {
  width: 100%;
  max-width: 340px;
  height: 30px;
}


#call__modal{
  position: fixed;
  right: 2%;
  top: 2%;
  background-color: rgb(35, 0, 68);
  color: white;
}






