*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}


:root{
    --cor-principal:#09328b;
    --cor-secundaria:#0a1e49;
    --cor-texto:#ffffff;
    --cor-hover:#011849;

}

.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 40px;

}

.sub__container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--cor-principal);
    

}


.title__container{
    width: 100%;
    height: 60px;
    background-color: var(--cor-hover);
    text-align: center;
    line-height: 60px;
    color: var(--cor-texto); 
      

}

.clientes__container{
    width: 100%;
    padding: 5px;
}

.table__container{
    border-collapse: collapse;
    border-color: var(--cor-texto);
    width: 100%;
    
}

.table__container thead{
    height: 40px;
    font-size: 1.4rem;
    text-align: center;
    color: var(--cor-texto);
}

.table__container tbody{
    height: 30px;
    font-size: 18px;
    color: var(--cor-texto);
    text-align: center;

}


.btn{
   padding: 5px 10px;
    background-color: var(--cor-hover);
    color: var(--cor-texto);
    border: 2px solid rgb(1, 33, 102);
    border-radius: 10px;
    transition: .5s;
}

.btn:hover{
    padding: 5px 10px;
    background-color: var(--cor-hover);
    color: var(--cor-texto);
    border: 2px solid white;
    border-radius: 10px;
}

/* ===========modal section =======  */

#call__modal{
    position: fixed;
    bottom: 30px;
    right: 15px;
}

.modal__container{
    width: 100%;
    max-width: 0px;
    overflow: hidden;
    position: absolute;
    background-color: #09328b;
    border-radius: 20px;
    transition: .1s;
    
}

.modal__open{
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: absolute;
    background-color: #09328b;
   border: 2px solid rgb(16, 18, 116);
   padding: 10px;
    border-radius: 20px;
    
}

.input__container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input__container div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.input__container input{
    height: 30px;
    width: 100%;
    font-size: 1.1rem;
    border: 2px solid rgb(0, 110, 255);
    padding-left: 5px;

}

.input__container input:focus{
    outline: none;
    border: 2px solid rgb(18, 62, 119);
}